[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Console UI for Gerrit CodeReview
[access "refs/*"]
	owner = group user/Tamás Andrus (andrust)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Tamás Andrus (andrust)
	label-Verified = -1..+1 group user/Tamás Andrus (andrust)
	push = group user/Tamás Andrus (andrust)
	read = group user/Tamás Andrus (andrust)
	rebase = group user/Tamás Andrus (andrust)
	removeReviewer = group user/Tamás Andrus (andrust)
	submit = group user/Tamás Andrus (andrust)
[access "refs/heads/*"]
	create = group user/Tamás Andrus (andrust)
	push = +force group user/Tamás Andrus (andrust)
	pushMerge = group user/Tamás Andrus (andrust)
	read = group user/Tamás Andrus (andrust)
[access "refs/tags/*"]
	push = group user/Tamás Andrus (andrust)
	push = +force group user/Tamás Andrus (andrust)
[access "refs/for/master"]
	push = group git-gerrit
